<ion-toolbar color="secondary">
   <ion-title>{{hotel.name}}</ion-title>
 </ion-toolbar>

<ion-content>
      <!-- <ion-card>  -->
            <!-- <ion-card-content > -->
                <ion-item>
                   <img src="http://localhost:5000/images/{{hotel.image}}" alt="">
                    </ion-item>
                    
                        <ion-item>
                            <ion-grid>
                                <ion-row>
                            <ion-col size='8'>
                                <ion-icon style="color: gold; font-size: 24px " name="star"></ion-icon>
                                <ion-icon style="color: gold; font-size: 24px " name="star"></ion-icon>
                                <ion-icon style="color: gold; font-size: 24px " name="star"></ion-icon>
                                <ion-icon style="color: gold; font-size: 24px " name="star"></ion-icon>
                                <ion-icon style="color: gold; font-size: 24px " name="star"></ion-icon>
                            </ion-col>
                            <ion-col size='4'>
                                        {{hotel.dislike}} 
                                        <ion-icon style="color: red; font-size: 24px " name="thumbs-down"></ion-icon>
                                        <ion-icon style="color: blue; font-size: 24px " name="thumbs-up"></ion-icon> 
                                        {{hotel.like}}
                           </ion-col>
                           <ion-col size='8'>
                             <h3> {{hotel.distance}} km. of Center</h3>
                             
                             </ion-col>
                             <ion-col size='4'>
                               <h2> {{hotel.price}} $</h2>
                               
                               </ion-col>
                                    </ion-row>
                                    </ion-grid>
                           </ion-item>


                           <ion-item>
                                <h6>{{hotel.information}}</h6>
                                </ion-item>
                                <ion-item>
                                <ion-grid>
                                    <h3>Conditions</h3>
                                    <h5 *ngFor = "let con of hotel.sharoit">
                                <ion-icon style="color: green; font-size: 24px " name="checkbox-outline"></ion-icon>
                                      {{con}}</h5>
                                </ion-grid>
                               </ion-item>
                               <ion-item>
                                 <ion-row>
                                   <ion-col>
                                  <ion-grid>
                                      <h3> <ion-icon style="color: blue; font-size: 24px "  name="call"></ion-icon>  Contact</h3>
                                      <h5 *ngFor = "let con of hotel.contact">{{con}}</h5>
                                  </ion-grid>
                                  </ion-col>
                                  <ion-col>
                                    <ion-grid>
                                      <h3> <ion-icon style="color: red ; font-size: 24px " name="pin"></ion-icon> Address</h3>
                                    <h5>{{hotel.address}}</h5>
                                    </ion-grid>
                                    </ion-col>
                                  </ion-row>
                                 
                                 </ion-item>

              <!-- </ion-card-content> -->
          <!-- </ion-card> -->

          <ion-fab vertical="bottom" horizontal="start" slot="fixed">
                <ion-fab-button color="secondary" routerLink="/test">
                    <ion-icon name="arrow-round-back"></ion-icon>
                </ion-fab-button>
              </ion-fab>

</ion-content>