<ion-header>
  <ion-toolbar color = "secondary">
    <ion-title>
        You are in Tashkent
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-slides style="padding: 40px;" pager="true" [options]="slideOpts">
        <ion-slide>
        <img src="assets/004.jpg" alt="">
        </ion-slide>
        <ion-slide>
        <img  src="assets/005.jpg" alt="">
        </ion-slide>
        <ion-slide>
        <img  src="assets/006.jpg" alt="">
        </ion-slide>
    </ion-slides>

  <ion-grid>
    <ion-row>
          <ion-col size="6">
              <ion-card [routerLink]="['/test']" routerLinkActive="router-link-active" >
                  <ion-card-header>
                    <ion-card-title>Hotel</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                      <ion-icon style=" color: #0CD1E8;" name="bed"></ion-icon>
                  </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card>
                    <ion-card-header>
                      <ion-card-title>Cafe</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-icon style=" color: #0CD1E8" name="cafe"></ion-icon>
                    </ion-card-content>
                  </ion-card> 
               </ion-col>
               <ion-col size="6">
                  <ion-card>
                      <ion-card-header>
                        <ion-card-title>Taxi</ion-card-title>
                      </ion-card-header>
                      <ion-card-content>
                          <ion-icon style=" color: #0CD1E8 ;" name="bicycle"></ion-icon>
                      </ion-card-content>
                    </ion-card>
                </ion-col>
                <ion-col size="6">
                    <ion-card>
                        <ion-card-header>
                          <ion-card-title>Cook</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            <ion-icon style=" color:  #0CD1E8 ;" name="restaurant"></ion-icon>
                        </ion-card-content>
                      </ion-card> 
                   </ion-col>
    </ion-row>
    </ion-grid>

    <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="secondary" [routerLink]="['/test']" routerLinkActive="router-link-active" >
            <ion-icon name="arrow-round-forward"></ion-icon>
        </ion-fab-button>
      </ion-fab> -->

      <ion-fab vertical="bottom" horizontal="start" slot="fixed">
          <ion-fab-button color="secondary" routerLink="/select">
              <ion-icon name="arrow-round-back"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      
    
</ion-content>
